{%
  set pages =
  {
  "/": "Your iGEM Journey Begins Here! We wish you a successful and rewarding season!",
  "/contribution": "Make a useful contribution for future iGEM teams and document it on this page.",
  "/description": "Describe how and why you chose your iGEM project.",
  "/education": "Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.",
  "/engineering": "Demonstrate engineering success in a technical aspect of your project by going through at least one iteration of the engineering design cycle.",
  "/entrepreneurship": "The entrepreneurship award recognizes exceptional effort to build a business case and commercialize an iGEM project.",
  "/experiments": "Describe the research, experiments, and protocols you used in your project. It is designed to provide sufficient information for other teams to replicate our work.",
  "/hardware": "Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better, or more accessible to our community.",
  "/human-practices": "We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.",
  "/inclusivity": "Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development.",
  "/measurement": "Synthetic Biology needs great measurement approaches for characterizing parts, and efficient new methods for characterizing many parts at once. Describe your measurement approaches on this page.",
  "/team": "This page is dedicated to introducing the individuals who made our iGEM project possible. Here, you'll find information about our team members, instructors, and advisors.",
  "/model": "Explain your model's assumptions, data, parameters, and results in a way that anyone could understand.",
  "/notebook": "This serves as a chronological record of your team's progress throughout the season. It documents your daily activities, experiments, discussions, and decisions.",
  "/alternative-platform": "This award is designed to celebrate exemplary work done in alternative platforms, and covers anything that is not E. coli, S. cerevisiae, and B. subtilis.",
  "/results": "Present the results of your project, along with a detailed analysis and discussion of their significance. Also outline future plans and reflections on the impact of your project.",
  "/safety-and-security": "Detail the safety and security considerations of your project, adressing potential risks and outlining the measures taken to mitigate them.",
  "/software": "Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.",
  "/sustainability": "Describe how you have evaluated your project ideas against one or more of the SDGs."
  }
%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"
    />
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

    <!-- Bootstrap CSS -->
    <link
      href="{{ url_for('static', filename = 'bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', filename = 'style.css') }}"
      rel="stylesheet"
    />

    <title>{{ title }} | VIS - iGEM 2026</title>
  </head>
  <body>
    <!-- Navigation -->
    {% include 'menu.html' %}

    <!-- Header -->
    <header class="bg-hero py-5 mb-5">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2">{{ title }}</h1>
            <p class="lead mb-5 text-white-50">{{ pages.get(request.path) }}</p>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12">
          {# <div class="col-12 col-lg-10 offset-lg-1"> #}
          {% if md_content %}
            {{ md_content | safe }}
          {% endif %}
        </div>
      </div>
      {% block page_content %}{% endblock %}
    </div>

    <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
    {% include 'footer.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
