body {
  padding-top: 56px;
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* ==========================
   HOMEPAGE
========================== */

/* ==========================================
   HOMEPAGE HERO
========================================== */

.homepage-hero {

  height: 650px;

  background-image:
      linear-gradient(
          rgba(0,0,0,0.45),
          rgba(0,0,0,0.45)
      ),
      url("../assets/images/river-background.jpg");

  background-size: cover;
  background-position: center;

  overflow: hidden;

  position: relative;
}

.hero-container {

  position: relative;
}

.hero-text h1 {

  color: white;

  font-size: 4.5rem;

  font-weight: 800;

  line-height: 1.1;
}

.hero-text h1 span {

  color: #7BC043;
}

.hero-description {

  color: white;

  font-size: 1.3rem;

  margin-top: 1rem;

  margin-bottom: 2rem;
}

.hero-image {

  position: relative;
}

.hero-image img {

  max-width: 650px;

  width: 100%;
}

/* LEFT PB/CD NETWORK */

.hero-left-molecule {

  position: absolute;

  left: -80px;

  top: 100px;

  width: 250px;

  z-index: 5;
}

.hero-left-molecule img {

  width: 100%;
}

/* RIGHT CLEAN WATER BUBBLE */

.clean-water-bubble {

  position: absolute;

  right: -120px;

  top: 80px;

  width: 180px;

  z-index: 5;
}

.clean-water-bubble img {

  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.problem-card,
.solution-card,
.highlight-card,
.team-card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.highlight-card {
  text-align: center;
}

footer {
  background: #0f2433;
  color: white;
}



/* ==========================
   PROJECT MEGA MENU
========================== */

.mega-menu {
  width: 1000px;
  display: flex;
  gap: 40px;
}

.mega-column {
  min-width: 200px;
}

.mega-column h6 {
  color: #4caf50;
  font-weight: 700;
  margin-bottom: 12px;
}

.mega-column .dropdown-item {
  padding: 6px 0;
}

.navbar {
  background: rgba(0,0,0,.7) !important;
}
